.text-error {
  color: red;
  font-size: 14px;
  display: none;
}

.text-error.active {
  display: block;
}

.text-error.active {
  display: block;
}

.link-btn {
  padding-left: 20px;
}

.label {
  display: block;
}

.item {
  white-space: pre-wrap;
}

.btn {
  background-color: #3880ff;
  border-radius: 6px;
  margin-left: 20px;
}

.btn .icon {
  font-size: 15px;
  margin-right: 5px;
}

.preview-image {
  width: 200px;
  height: 200px;
  margin-left: 20px;
  margin-bottom: 20px;
  height: auto;
}

.preview-image-show {
  width: 100px;
  height: 100px;
  margin-left: 10%;
  height: auto;
}

.buttonLink {
  text-decoration: none;
}

.signout-btn {
  color: white;
  text-transform: capitalize;
}
